{
  "huggingface_repo": "cognitivecomputations/dolphin-logger",
  "models": [
    {
      "provider": "anthropic",
      "providerModel": "claude-3-7-sonnet-latest",
      "model": "claude",
      "apiKey": "ENV:ANTHROPIC_API_KEY"
    },
    {
      "provider": "openai",
      "providerModel": "gpt-4.1",
      "model": "gpt",
      "apiBase": "https://api.openai.com/v1/",
      "apiKey": "ENV:OPENAI_API_KEY"
    },
    {
      "provider": "openai",
      "providerModel": "gemini-2.5-pro-preview-05-06",
      "model": "gemini",
      "apiBase": "https://generativelanguage.googleapis.com/v1beta/",
      "apiKey": "ENV:GOOGLE_API_KEY"
    },
    {
      "provider": "ollama",
      "providerModel": "codestral:22b-v0.1-q5_K_M",
      "model": "codestral"
    },
    {
      "provider": "ollama",
      "providerModel": "dolphin3",
      "model": "dolphin"
    },
    {
      "provider": "claude_code",
      "providerModel": "unknown",
      "model": "claude-code"
    }
  ]
}
